*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.overskrift {
    font-size: 89px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
}

.overskrift1 {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
    padding-bottom: 25px;
}

.navbar1 {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: none; 
    position: sticky;
    padding-top: -2px;
    padding-left: 15px;
    padding-right: 45px;
    transition: 10sec;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: none; 
    position: sticky;
    padding-top: -2px;
    padding-left: 15px;
    padding-right: 45px;
    transition: 10sec;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
}

.navbar1 ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
}

.navbar ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: inherit;
    font-size: 1.3rem;
    font-weight: lighter;
    position: relative;
}

.navbar1 ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: inherit;
    font-size: 1.3rem;
    font-weight: lighter;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(131, 60, 60);
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar1 ul li a {
    text-decoration: none;
    color: rgb(131, 60, 60);
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li ul {
    display: none;
    background-color: white;
    position: absolute;
    padding: 25px;
    border-radius: 2px 2px 2px 2px;
    margin: 10px;
}

.navbar1 ul li ul {
    display: none;
    background-color: white;
    position: absolute;
    padding: 25px;
    border-radius: 2px 2px 2px 2px;
    margin: 10px;
}

.navbar ul li:hover ul {
    display: block;
}

.navbar1 ul li:hover ul {
    display: block;
}

.navbar ul li ul li a {
    padding: 8px 7px;   
}

.navbar1 ul li ul li a {
    padding: 8px 7px;   
}

.navbar ul li ul li {
    width: 180px;
    border-radius: 2px 2px 2px 2px;
}

.navbar1 ul li ul li {
    width: 180px;
    border-radius: 2px 2px 2px 2px;
}

.navbar ul li ul li a:hover {
    padding: 2px;
    background-color: rgba(63, 63, 207, 0.692);
}

.navbar1 ul li ul li a:hover {
    padding: 2px;
    background-color: rgba(63, 63, 207, 0.692);
}

.navbar ul li a:hover {
    background-color: rgba(85, 77, 77, 0.712);
    color: black;
    box-shadow: 0 0 10px white;
}

.navbar1 ul li a:hover {
    background-color: rgba(85, 77, 77, 0.712);
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */ 
.home {
    display: flex;
    flex-direction: column;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(billeder/baggrund2.jpg.png) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
   
}

.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin: 100px 100px;
    color: rgb(131, 60, 60);
    font-weight: lighter;

}

.btn {
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition: .6s ease;
    padding-top: -8px;
}

.btn a {
    text-decoration: none;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn:hover {
    cursor: pointer;
    background: white;
    color: black;
    box-shadow: 0 0 5px rgb(73, 73, 224), 0 0 10px white, 0 0 15px;
    
}

/* Portfolio side2 */


.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: -10px;
    
}

.headings4 {
    font-size: 75px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
}

.headings5 {
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
    padding-bottom: 25px;
}


.main1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;

}

.main1 img {
    width: 350px;
    height: 250px;
    margin: 20px;
}


.main2 {
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;
    box-sizing: border-box;
}

.main2 img {
    width: 350px;
    height: 250px;
    margin: 10px;
}

.headings {
    float: left;
    margin-top: -20px;
}

/*About me*/

.about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    font-weight: lighter;
}

.billedetekst {
    display: flex;
    justify-content: space-around;
    align-items: right;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
    padding-bottom: 25px;
    margin: 30px;
}
   
.billedetekst img {
    width: 500x;
    height: 700px;
    padding-bottom: 80px;
    float: right;   
    padding-left: 20px;
}

.centerdiv {
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: inline;
    padding-right: 38%;
    margin-top: -35%;
}

.centerdiv img {
    width: 50px;
    height: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding:40px;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}


/* Service section */

.headings2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
    padding: 40px;
    padding-top: 15px; 
}

.services {
    display: flex;
    flex-direction: column;;
    text-align: center;
    padding-top: 30px;
}

.row {
    display: flex;  
    justify-content: center; 
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(131, 60, 60) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(131, 60, 60);
}

.headings3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: lighter;
}


/*Contact me section*/


.headings8 {
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
    padding-bottom: 25px;
}


.headings9 {
    font-size: 55px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(131, 60, 60);
    font-weight: lighter;
    padding-bottom: 25px;
}

.contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

.msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

.send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
    background-color: white;
}

.send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(131, 60, 60);
    background-color: white;
}